<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee"
	version="2.4">
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<!-- 通讯 dxf -->
	<!-- <listener>
		<listener-class>com.dhcc.bussiness.aviation.socketserver.MainFrame</listener-class>
	</listener> -->
    <!-- 到期的管控人员 -->
	<!-- <listener>
		<listener-class>com.dhcc.common.util.TimerListener</listener-class>
	</listener> -->
</web-app>
